/* img {
    border-radius: 15px;
    
}

.ui.card {
    line-height: 1.5 !important;
    width: 200px !important;
    font-size: 12px !important;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.ui.button.pagination {
    margin: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
} */